In [13]:
# data viz purposes
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# for csv purposes (to help read the csv file)
import os

In [14]:
df = pd.read_csv('/Users/alexavndra/data_folder/trump_insults.csv')
df.head()

,Unnamed: 0,date,target,insult,tweet
0,1,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
1,2,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2,3,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...
3,4,2015-06-24,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...
4,5,2015-06-24,neil-young,total hypocrite,"For the nonbeliever, here is a photo of @Neily..."

In [15]:
# checking the column names
print(df.columns)

Index(['Unnamed: 0', 'date', 'target', 'insult', 'tweet'], dtype='object')

In [17]:
# cleaning up the data, renaming
# i only want target and insult (removing 'unnamed', 'date', 'target')
df = df.iloc[:,3:]
df.columns = ['insult', 'tweet']
df.head()

,insult,tweet
0,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
1,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...
3,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...
4,total hypocrite,"For the nonbeliever, here is a photo of @Neily..."